<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- Ensure that Angular routes are handled by index.html -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <!-- Don't rewrite requests for actual files like images, JS, CSS, etc. -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>



    <!-- Enable compression for static files -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
  </system.webServer>
</configuration>
